
.banner {
	height: 17.275rem;
}
.header .wp,.footer .wp{
	width: 1200px  !important;
	max-width: 1200px !important;
}
.main {
	background: #fbfbfb;
}
.wp {
	width: 30rem !important;
	max-width: 30rem  !important;
}
.user-info {
	display: flex;
	height: 4.125rem;
	padding: 0.6rem 1.35rem;
}

.user-info .info-right .txt {
	font-size: 0.25rem;
	font-family:' MicrosoftYaHei';
	color: rgba(46, 46, 46, 1);
	line-height: 0.5rem;
}
.user-info .txt {
	font-size: 0.425rem;
	font-family: 'MicrosoftYaHei';
	color: rgba(46, 46, 46, 1);
	line-height: 0.75rem;
}

.user-info .info-left h1 {
	font-size: 0.55rem;
	font-family: 'MicrosoftYaHei';
	color: rgba(46, 46, 46, 1);
	line-height: 1.1rem;
}

.user-info .info-left {
	flex-grow: 1;
	width: 14.775rem;
	border-right: 0.05rem solid #ccc;
	padding-right: 0.775rem;
}

.user-info .info-right {
	padding: .5rem 0.75rem;
	width: 15.175rem;
	display: flex;
}

.user-logo {
	width: 2.05rem;
	height: 2.05rem;
	flex: none;
	margin-right: .3rem;
	padding-top: .3rem;
	border-radius: 1.01rem;
}

.user-logo img {
	border-radius: 1.01rem;
}

.user-info .info-right .txt {
	flex-grow: 1;
}

.container {
	width: 30rem;
	margin: 0 auto;
}

.waterfall {
	-moz-column-count: 2;
	/* Firefox */
	-webkit-column-count: 2;
	/* Safari 和 Chrome */
	column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
	height: 100%;
	
	position: relative;
}
.waterfall:after {
	content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 1.7%;
  	left:50%;
  	width: 2px;
    height: 97.2%;
    background: linear-gradient(to bottom, #ff0000, #ff0000 10px, transparent 10px, transparent);
    background-size: 100% 3px;
}
.item {
	width: 20rem;
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	background: #FFFFFF;
	
}
.con {
	padding-top: 0.675rem;
}
.item img {
	width: 100%;
	margin-bottom: 10px;
}

.user-in {
	margin: 0 auto;
	z-index: 2;
	padding: 0.45rem 0.55rem;
	/* 老的 Firefox */
}

.user-head {
	width: 100%;
	display: flex;
}

.user-info-box {
	width: 15.5rem;
}
.Head_portrait {
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 1.2rem;
	margin-right: 0.9rem;
}
.Head_portrait img {
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 1.2rem;
}

.user-head h1 {
	margin: 0;
	padding: 0;
	font-size: 0.4rem;
	color: rgba(51, 51, 51, 1);
	line-height: 1.1rem;
	text-align: right;
}

.user-text {
	font-size:0.35rem;
	color:rgba(51,51,51,1);
	line-height:0.65rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.user_name {
	display: flex;
}
.user_name div{
	flex-grow: 1;
	font-size:0.4rem;
	color:rgba(51,51,51,1);
	line-height:1.1rem;
}
.user_name .time{
	font-size:0.35rem;
	color:rgba(187,187,187,1);
	line-height:0.95rem;
	text-align: right;
	
}
.row {
    width: 15.5rem;
    float: right;
    margin-bottom: .5rem;
}

.row li {
	float: left;
	width: 5.15rem;
	height: 3.25rem;
	margin: 0 0rem 0.125rem 0;
    padding: 0 0.125rem 0.125rem 0;
}
.row li  a {
    display: block;
    border-radius: 5px;
    height: 0;
    padding-top: 63.15%;
    position: relative;
    overflow: hidden;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.row li img {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
	border-radius: 0.2rem;
}
.tip {
	padding: 0.575rem 0rem 2rem 0;
	position: relative;
}
.tips {
	text-align: center;
	width:4.225rem;
	height:1.3rem;
	border-radius: 0.65rem 0 0 0.65rem;
	background:rgba(245,51,56,1);
	font-size:0.7rem;
	color:rgba(255,255,255,1);
	display: inline-block;
	position: absolute;
	top: 0.27rem;
    right: -0.5rem;
}
.clear {
	clear: both;
}
.user-foot {
	width: 100%;
	display: flex;
	height: 1rem;
	border-top: 1px solid #F2F2F5;
}
.user-foot div {
	text-align: center;
	flex-grow: 1;
	font-size:0.4rem;
	color:rgba(76,76,76,1);
	line-height:0.95rem;
	padding-left: .6rem;
}
.user-foot div:first-child {
	background: url(/resource/images/swim/icon_1.png) no-repeat;
	background-position:40px  -54px;
	border-right: 1px solid #F2F2F5;
}
.user-foot div:last-child {
	border-left: 1px solid #F2F2F5;
	background: url(/resource/images/swim/icon_1.png) no-repeat;
	background-position:40px  -33px;
}
.cont {
	background: url(/resource/images/swim/icon_1.png) no-repeat;
	background-position:40px  -11px;
	
}
.foot {
	width: 14.025rem;
	background:rgba(242,242,245,1);
	padding:0.3rem 0.475rem 0;
}
.form-group1 {
	display: flex;
	
}
.form-group {
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #d9d9d9;
}
.form-group1 .input {
	flex-grow: 1;
}
.form-group1 .input input {
	width:12.15rem;
	height:0.75rem;
	background:rgba(255,255,255,1);
}
.foot-img {
	margin-right: 0.175rem;
	width: 0.75rem;
	height: 0.75rem;
}
.foot-img  img {
	width: 100%;
	height: 100%;
}
.btn {
	float: right;
}
.btn input{
	font-size:0.35rem;
	color:rgba(254,254,254,1);
	line-height:0.45rem;
	text-align: center;
	width:1.175rem;
	height:0.525rem;
	background:rgba(248,66,66,1);
	border-radius:0.05rem;
	border:rgba(248,66,66,.5) solid 0.05rem ;
	margin-top:0.15rem;
}

.conten {
	margin: 0 0 -1px;
    padding: 5px 0 7px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #d9d9d9;
    display: block;
}
.face {
	margin-left: 0;
	padding: 6px 0 0;
	position: relative;
	width: 30px;
	display: block;
	float: left;
    height: 30px;
}
.list_con {
	margin: 0 0 0 1rem;
	display: block;
}
.form-text {
	margin-bottom: 0;
	padding: 0 0 2px;
	overflow: hidden;
	color: #666666;
    line-height: 23px;
    word-wrap: break-word;
    display: block;
}
.form-text a {
	font-weight: bold;
}
.clear {
	clear: both;
}
.btn-See {
	width: 2.5rem;
	height: .85rem;
	margin: 0.225rem auto ;
	background: url(/resource/images/swim/icon_1.png) no-repeat;
	background-position:50px  6px;
	
}
.btn-See input {
	background:rgba(242,242,245,0);
	margin-bottom: 0.225rem;
	border: none;
	font-size:0.35rem14px;
	font-family:MicrosoftYaHei;
	color:rgba(128,128,128,1);
	line-height:0.65rem;
	
}
.load-tips {
	text-align: center;
	width:4.225rem;
	height:1.3rem;
	border-radius:0  0.65rem  0.65rem 0 ;
	background:rgba(245,51,56,1);
	font-size:0.7rem;
	color:rgba(255,255,255,1);
	display: inline-block;
	position: absolute;
	bottom: 0.2rem;
    right: 10.7rem;
}
.load-tips:hover {
	cursor:pointer;
}
.warp {
	z-index: 222;
	width: 30rem;
	height: 17.15rem;
	border: 3px solid #ADADAD;
	display: flex;
	position: absolute;
	left: 9rem;
    top: 3.85rem;
	
}
.warp .warp-img{
	flex-basis: 0;
	width: 50%;
	flex-grow: 1;
}
.warp .warp-img img {
	width: 100%;
	height: 100%;
}
.warp .list{
	background: #FFFFFF;
	z-index: 222;
	width: 50%;
	flex-basis: 0;
	flex-grow: 1;
	padding: 0.425rem 0.725rem;
}
.warp-bg {
	z-index: 0;
	width: 30rem;
	height: 17.15rem;
	border: 3px solid #ADADAD;
	position: absolute;
	left: 7.5rem;
	top: 5rem;
}
.list-item {
	margin: 1.3rem 0;
	color:rgba(57,56,56,1);
}
.list-item:hover {
	transform-origin: 100% 100% 0 ;
	 transform: scale(1.1);
	 padding-left: 1rem;
	 background:rgba(241,51,53,1);
	box-shadow:0.3rem 0px 0.725rem rgba(0,0,0,0.4);
	color: #FFFFFF !important; 
}
.list-item:hover  .list-left input{
	border: 2px solid #FFFFFF;
	color: #FFFFFF !important; 
}
.list-left {
	float: left;
	width: 7.95rem;
}
.list-right {
	float:right ;
	width: 5.025rem;
	height: 3.725rem;
	flex-basis: 0;
	padding: .5rem;
}
.list-right img {
	width: 100%;
	height: 100%;
}
.list-left p {
	font-size:0.4rem;
	font-family:MicrosoftYaHei;
	
	line-height:0.75rem;
}
.list-left div span {
	display: block;
	float: right;
	text-align: right;
	font-size:0.525rem;
	font-family:MicrosoftYaHei;
	line-height:1.2rem;
}
.list-left div {
	font-size:0.75rem;
	font-family:MicrosoftYaHei-Bold;
	line-height:1.2rem;
}
.list-left input {
	width:2.775rem;
	height:0.875rem;
	background:rgba(251,37,40,0);
	border-radius:.1rem;
	border: 2px solid #FB2528;
	margin: .2rem 0;
}
.video-box {
	width: 30rem;
	height: 17.15rem;
	margin: 1.3rem  auto;
	
}
.video{
	width:50%;
	height: 8rem;
	float: left;
	background: url(/resource/images/swim/bg3.png) no-repeat center center;
	background-size: 100% 100%;
}
.num {
	display: flex;
	border-top: 1px solid #F2F2F5;
}

.num div {
	flex-grow: 1;
    text-align: center;
    padding-left: .8rem;
    line-height: .7rem;
    border-right: 1px solid   #F2F2F5;
    position: relative;
}
.num div:last-child {
	 border-right: 0px solid   #F2F2F5;
} 
.num div i {
		display: inline-block;
	    width: 30px;
	    height: 30px;
	    position: absolute;
	    top: 0.08rem;
	    left: 1.8rem;
	}
@media all and (min-width:924px) and (max-width:1488px) {  
   .num div i {
		 display: inline-block;
	    width: 30px;
	    height: 30px;
	    position: absolute;
	    top: -.05rem;
	    left: 1.5rem;
	}
} 
.hideed i{
	background: url(/resource/icon/icon_index.png) no-repeat 0px -145px;
}

.theory i{
	background: url(/resource/icon/icon_index.png) no-repeat 0px -177px;
}

.spot i{
	background: url(/resource/icon/icon_index.png) no-repeat 0px -213px;
}

.Read i{
	background: url(/resource/icon/icon_index.png) no-repeat 0px -248px;
}
.num .one:nth-child(1) i{
	background: url(/resource/icon/icon_index.png) no-repeat -176px -145px;
	color: #d71618;
}

.num .one:nth-child(2) i{
	background: url(/resource/icon/icon_index.png) no-repeat -176px -177px;
	color: #d71618;
}

.num .one:nth-child(3) i{
	background: url(/resource/icon/icon_index.png) no-repeat -176px -213px;
	color: #d71618;
}

.num .one:nth-child(4) i{
	background: url(/resource/icon/icon_index.png) no-repeat -176px -249px;
	color: #d71618;
}
.r_box {
	width:9.05rem;
	background:rgba(255,255,255,1);
	margin-bottom: 1rem;
	
}
.r_box_con {
	padding: 0.375rem 0.375rem 0;
	overflow: hidden;
}
.r_box_con li {
    width: 100%;
    margin-bottom: 10px;
}
.r_box_con li a {
    display: block;
    width: 100%;
    height: 100%;
}
.r_box_con .pic {
    position: relative;
    height: 0;
    padding-top: 69.65%;
    border-radius: 5px;
    overflow: hidden;
}
.r_box_con .pic img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.r_box_con .pic span {
    display: block;
    width: 100%;
    padding: 13px 16px;
    font-size: 14px;
    line-height: 16px;
    color:rgba(255,255,255,1);
    background: url(../images/bg2-qm.png) center top repeat-x;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    left: 0;
}
.col-r {
	padding-top: .675rem;
}
.r_box_title {
	padding: 0 0.375rem;
	font-size:0.4rem;
	color:rgba(51,51,51,1);
	line-height:1.2rem;
	border-bottom: 1px solid #F2F2F5;
}
.r_box_title span {
	float: right;
}
.user_head {
	display: flex;
}
.user_head .Head_portrait {
	width: 1rem;
	height: 1rem;
}
.user_head .Head_portrait img {
	width: 1rem;
	height: 1rem;
}
.user_info_box {
	font-size:0.35rem;
	color:rgba(51,51,51,1);
	font-weight: bold;
}
.user_info_box .time {
	color:rgba(128,128,128,1);
	font-size:0.3rem;
}
.user_text {
	font-size:0.35rem;
	color:rgba(102,102,102,1);
	line-height:.5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .3rem  0;
}
