/*2018-09-06
 HQS
 
 移动端  个人中心-我的日志页、我的视频列表页、我的游记页、我的问答页公共 样式

 * */



.write {position: absolute;bottom: 0px;right: 10px;z-index: 9999;}
.write a{display:inline-block;background-repeat:no-repeat;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}

.ban{background: #fff;height: 12rem;overflow: hidden;}
.ban .backdrop{display: inline-block;width:100%;height: 11rem;}
.ban .backdrop img{height: inherit;
				border-bottom-left-radius: 600px 60px;
				border-bottom-right-radius: 600px 60px;}
.ban .head{position: absolute;left: 0;width: 100%;}
.ban .head p{color: #fff;}
.ban .head .profilePhoto{width: 100%;}
.ban .head .profilePhoto .gaine{background: rgba(95, 95, 95, 0.3);margin-left: 0.8rem;border-radius: 50%;}
.ban .head .profilePhoto .gaine .box{border-radius: 50%;width: 100%;display: block;}


.ban .head .wx_name{font-size: 1.2rem;font-weight: 600;text-indent: 0.8rem;}
.ban .head .wx_name img{display: inline-block;width: 0.8rem;}
.ban .head .signature{width: 68%; font-size: 0.7rem;text-align: justify;padding-left: 1.8rem;}

.ban .head .signature .icon_location2{display: inline-block;width: 0.7rem;float: left;
											margin:0.2rem 0.2rem 0rem -1rem;}
.ban .head .signature .autograph{display: -webkit-box;
								-webkit-line-clamp: 2;/*两列*/
								-webkit-box-orient: vertical;
								 overflow: hidden;}
.ban .head .bottom{padding-left: 1.8rem;}
.ban .head .bottom p{display: inline-block;font-size: 0.7rem;}

.m-nv-yz{border-bottom: none;}
.m-nv-yz .on a, .m-nv-yz a:hover{color: #fe5657;font-weight: 600;}
.m-nv-yz .on:before{background: none;}
.m-nv-yz li a{font-size: 13px;}

.ul-imgtxt2-yz dd:nth-last-of-type(1){padding-bottom: 2px;}

.ul-imgtxt2-yz li{padding: 0px;}
.ul-imgtxt2-yz dl{margin-top: 0;margin-bottom: -5px;}
.figure{padding-bottom: 70%; /* 关键就在这里 */
	  	background-position: center;
	  	background-repeat: no-repeat;
	  	background-size: cover;border-radius: 5px;}
.ul-imgtxt2-yz .pic{padding-top: 0px;overflow: hidden;}


.m-myday-yz{border: none;padding-bottom: 0px;}
.m-myday-yz .top{margin-bottom: 0px;}
.m-mytv-yz{border: none;padding: 0px;background: none;}
.m-mytv-yz .item{background: #fff;border-bottom:none;margin-bottom: 0.8rem;position: relative;padding-bottom: 2px;}
.m-mytv-yz .item .videoTitle{color: #ef1517;font-size: 14px;font-weight: 600;width:90%;display: -webkit-box;
								-webkit-line-clamp: 2;/*两列*/
								-webkit-box-orient: vertical;
								 overflow: hidden;}
.m-mytv-yz .item .date{font-size: 0.6rem;margin-bottom:0;}
.m-mytv-yz .item .videoDetails{font-size: 0.8rem;color: #333;text-align: justify;margin-bottom: 0.7rem;}
.m-mytv-yz .item .preview{max-height: 10rem;overflow: hidden;position: relative;}
.m-mytv-yz .item .preview a{display: block;width: 100%;max-height: inherit;}
.m-mytv-yz .item .preview img{width: 100%;}
.m-mytv-yz .item .preview .bo{position: absolute;top: 50%;left: 50%;width: 36px;height: 36px;
								background: url(../images/s-bo2.png) center center no-repeat;
								-webkit-background-size: cover;
								background-size: cover;
								-webkit-transform: translate(-50%,-50%);
							    -moz-transform:  translate(-50%,-50%);
							    -ms-transform:  translate(-50%,-50%);
							    -o-transform:  translate(-50%,-50%);
							    transform:  translate(-50%,-50%);}
.m-mytv-yz .item .videoBottom{margin: 0.5rem auto;}
.m-mytv-yz .item .videoBottom img{display: inline-block;margin-right: 0.2rem;width: 0.6rem;}
.m-mytv-yz .item .videoBottom span{font-size: 0.75rem;color: #666;}
.m-mytv-yz .item .videoBottom .left{display: inline-block;float: left;height: 20.8px;line-height: 20.8px;}
.m-mytv-yz .item .videoBottom .tag{padding: 0px 4px;border: 1px #d71618 solid;border-radius: 3px;max-width: 80px;overflow: hidden;line-height: 18px;margin-left: 10px;}
.m-mytv-yz .item .videoBottom .left img{vertical-align: middle;}
.m-mytv-yz .item .videoBottom p{float: right;}


.m-mytv-yz .item .pullDownMenu{position: absolute;top: 1.5rem;right: 0.5rem;}
.m-mytv-yz .item .pullDownMenu .icon_pullDown{display: block;width: 1.1rem;float: right;}
.m-mytv-yz .item .pullDownMenu span{font-size: 0.8rem;}
.m-mytv-yz .item .pullDownMenu .left img{vertical-align: text-top;}
.m-mytv-yz .item .pullDownMenu p{float: right;}
.m-mytv-yz .item .pullDownMenu .pullDownNav{background: #fff;border: 1px #ccc solid;border-radius: 2px;margin-top: 0.7rem;z-index: 2;position: relative;}
.m-mytv-yz .item .pullDownMenu .pullDownNav a{display: block;padding: 5px 2px;font-size: 0.6rem;}
.m-mytv-yz .item .pullDownMenu .pullDownNav a span{padding: 4px 8px;}
.m-mytv-yz .item .pullDownMenu .pullDownNav .collect{color: #d71618;}
.m-mytv-yz .item .pullDownMenu .pullDownNav .collect span{background: #f2f2f5;}

.maskLayer{position: fixed;top: 0;right: 0;left: 0;bottom: 0;background: transparent;opacity: 0;z-index: 1;}

/*我的视频、别人的视频、我收藏的视频   共用样式*/
.m-pop1-yz .conAmend{overflow: inherit;}
.m-pop1-yz .conAmend iframe{overflow: hidden;}
.m-pop1-yz .conAmend .close{top: -44px;}
.m-pop1-yz .conAmend .close span{background: #221414 url(/resource/m/images/icon-close2.png) no-repeat center center / 68%;}


.bg3{margin-top: 20px;padding:0px 0px 20px;text-align: center;}
.bg3 .text{font-size: 0.76rem;}

.shoot{display:block;
	width:107px;
	height:22px;
	line-height:22px;
	text-align:center;
	background-color:#f24949;
	color:#fff;
	font-size:12px;
	border-radius:15px;
	margin: 10px auto;}
.default_bg{display: block;width: 68%;margin: 1rem auto 0;}

.tips{text-align: center;color: #ccc;}
.loading{margin: 0 auto;display: block;width: 5%;}


/*别人的日志、视频、游记  关注按钮  共用样式*/
.attentionBtn{width: 100%;position: absolute;bottom: 2px;}
.attentionBtn .guanzhu{line-height: 28px;height: 28px;font-size: 0.8rem;border: none;text-align: center;color: #fff;
						-webkit-box-shadow: 0px 0px 1px 1px #b2b0b0;padding: 0px 15px;background: #F33B3B;
						-moz-box-shadow: 0px 0px 1px 1px #b2b0b0;display: block;margin: 10px auto 0px;
						box-shadow: 0px 0px 1px 1px #b2b0b0;border-radius: 15px;}
.attentionBtn .guanzhu  b{font-size: 1rem;display: inline-block;}


/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5    1920x1080  /3★*/
@media only screen and (max-width: 414px) {
	.ban .head{top: 19%;}
	.ban .head .profilePhoto .box{padding-bottom: 49.63px;}
	.ban .head .profilePhoto .box div,.gaine{width: 49.63px;}
	
	.minHeight{min-height: 400px;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.ban .head{top: 20%;}
	.ban .head .profilePhoto .box{padding-bottom: 49.34px;}
	.ban .head .profilePhoto .box div,.gaine{width: 49.34px;}
	
	.minHeight{min-height: 394px;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.ban .head{top: 20%;}
	.ban .head .profilePhoto .box{padding-bottom: 49.24px;}
	.ban .head .profilePhoto .box div,.gaine{width: 49.24px;}
	
	.minHeight{min-height: 392px;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.ban .head{top: 20%;}
	.ban .head .profilePhoto .box{padding-bottom: 45px;}
	.ban .head .profilePhoto .box div,.gaine{width: 45px;}
	
	.minHeight{min-height: 332px;}
}

/*适配iPhoneX 样式写法  5.8英寸 2436*1125 */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
	.minHeight{min-height: 472px;}
}

/*5.0英寸   384*640尺寸的屏幕  如 魅蓝M1    1280x768*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.ban .head{top: 20%;}
	.ban .head .profilePhoto .box{padding-bottom: 43px;}
	.ban .head .profilePhoto .box div,.gaine{width: 43px;}
	
	.minHeight{min-height: 284px;}
}
/*3.5英寸   320*480尺寸的屏幕  如iPhone4   960x640*/
@media only screen and (max-width: 320px) {
	.ban .head{top: 24%;}
	.ban .head .profilePhoto .box{padding-bottom: 38px;}
	.ban .head .profilePhoto .box div,.gaine{width: 38px;}
	
	.minHeight{min-height: 200px;}
}