/*2018-10-11
 * HQS
 * 
 * 日阅潭游记  、           达人视频-热门精选：达人视屏详情页
 * 
 * */

/*评论的点赞小图标*/
.icon_like{display: inline-block;vertical-align: middle;width: 1.2rem;margin-right: 5px;margin-top: -2px;}
.Iclass{display: inline!important;margin-right:0!important;}

/*弹出的 表情框*/
.qqFace{margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
.qqFace table td{padding: 0px;line-height: 28px;}
.qqFace table td img{ cursor: pointer; border: 1px #fff solid; }
.qqFace table td img:hover{ border: 1px #0066cc solid; }


/*评论  上方的标题*/
.m-comment{padding-right: 10px;padding-left: 10px;padding-top: 0px;}
.m-comment .navigation{border-bottom: 1px #e4e4e4 solid;margin-bottom: 10px;height: 3.1rem;}
.m-comment .navigation .titleTWO{display: block;float: left;line-height: 3.1rem;font-size: 1.2rem;color: #333;font-weight: 600;}
.m-comment .navigation .Button{float: right;color: #efefef;}
.m-comment .navigation .Button span{color: #666;padding: 0 4px;line-height: 3.1rem;font-size: 1.2rem;}
.m-comment .navigation .Button span.onn{color: #d71618!important;}


/*评论框*/
.m-publish .wp .content{position: relative;}
.m-publish .wp .content .top{margin-top: 0px;}
.m-publish .wp .content .top span{display: inline-block;vertical-align: middle;width: 25px;height: 25px;
							    border-radius: 50px;overflow: hidden;margin: 0 5px;
							    background-repeat: no-repeat;
							    background-position: center center;
							    -webkit-background-size: cover;
							    -moz-background-size: cover;
							    -ms-background-size: cover;
							    -o-background-size: cover;
							    background-size: cover;
							    background-image: url(/resource/m/images/q-icon38.png);}

.ul-imgtxt4 li{border-bottom: 1px #e4e4e4 solid;}
.ul-imgtxt4 .tit{padding-right: 0;margin-left: 17px;}
.ul-imgtxt4 .tit h3{color: #75949f;}
.ul-imgtxt4 .tit h3 b{font-size: 1.2rem;}
.ul-imgtxt4 .tit .addtime{color: #75949f;}

.substance{margin-left: 40px;margin-top: 4px;}
.substance .txtt{font-size: 1.2rem;color: #666;line-height: 1.75em;text-align: justify;
				white-space: pre-wrap!important;
				word-wrap: break-word!important;
				*white-space:normal!important;}
.substance .txtt span{display: block;color: #a8a8a8;font-size: 12px;}


.substance .BarSubmenu{font-size: 12px;height: 1.75em;margin: 8px auto 10px;}
.substance .BarSubmenu .reply{float: left;line-height: 1.5em;color: #767676;font-size: 1.2rem;
								-webkit-box-shadow: 0px 0.5px 0.5px 0.5px #e1e1e1;
								-moz-box-shadow: 0px 0.5px 0.5px 0.5px #e1e1e1;
								box-shadow: 0px 0.5px 0.5px 0.5px #e1e1e1;
								border: 1px #eeeeee solid;padding: 0 10px;border-radius: 0.75rem;background: #f0f0f0;}

.substance .BarSubmenu .leftSubmenu{float: right;line-height: 1.75em;color: #a8a8a8;}
.substance .BarSubmenu .leftSubmenu .floor{margin-right: 6px;}
.substance .BarSubmenu .leftSubmenu span{display: inline-block; line-height: 1.75em;}
.substance .addtime{margin-right: 10px;}
.substance .BarSubmenu .leftSubmenu .zan i{display: inline-block;line-height: 1.75em;font-style: normal;font-size: 1.2rem;}


/*【对评论】弹出的回复框*/
.substance .details_stair{height: 0;}
.details_stair{margin-top: 0px;}
.details_stair .wp{padding-left: 0px;padding-right: 0px;}
.details_stair .wp .content{margin-bottom: 5px;}
.details_stair .wp .content textarea{height: 78px;font-size: 1.2rem;line-height: 1.5rem;}
.details_stair .wp #facebox{height: 78px;overflow-y: scroll;}
.details_stair .wp .btn{background-color: #79ceff;}
.details_stair .wp .nologinbtn{margin-top: 50px;}


/*【对回复】弹出的回复框*/
.substance .details_{height: 0;}
.details_{margin-top: 10px;}
.details_ .wp{padding-left: 0px;padding-right: 0px;background: #fff;}
.details_ .wp .content{margin-bottom: 5px;}
.details_ .wp .content textarea{height: 78px;font-size: 1.2rem;line-height: 1.5rem;}
.details_ .wp #facebox{height: 78px;overflow-y: scroll;}
.details_ .wp .btn{background-color: #79ceff;}
.details_ .wp .nologinbtn{margin-top: 50px;}

/*对评论  回复的内容*/
.blockquote_wrap .comment_blockquote{background-color:#f8f8f8;width: 100%;
									 border:1px solid #dcdcdc; margin-top:-1px; padding:15px 2% 2px 2%;}
.blockquote_wrap .module:first-child{margin-top:8px;}
.blockquote_wrap .module:last-child{margin-bottom:20px;}

.blockquote_wrap .comment_floor{color:#999; float:right; margin:-14px 0px 0 0;font-size: 1.2rem;}
.blockquote_wrap .comment_conWrap{clear: both;}
.blockquote_wrap .comment_con{overflow:hidden;width:100%;}
.blockquote_wrap .comment_con .name{color: #2d64b3;}
.blockquote_wrap .comment_con .name i{color: #3d4c63;font-style: normal;}
.blockquote_wrap .detail .content a,.blockquote_wrap .comment_listBox a{color:#369; font-size:13px;}
.blockquote_wrap .comment_con .matter{display:inline; word-break:break-all; word-wrap:break-word;font-size: 1.2rem;}

.blockquote_wrap .comment_action_sub{visibility:hidden; float:right; text-align:right;}
.blockquote_wrap .comment_action a,.blockquote_wrap .comment_action_sub a{color:#999; font-size:12px; padding-left:12px; text-decoration:none;}

.addReview,.btnComment_Review,.btnComment_{float: right;}

.openReply{ animation: openReply 1s 1;}
@keyframes openReply{ 0%{ opacity: 0;height: 0px;} 100%{ opacity: 1;height: 168px;} }

.closeReply{ animation: closeReply 1s 1;}
@keyframes closeReply{ 0%{ opacity: 1;height: 168px;} 100%{ opacity: 0;height: 0px;} }




.original .content textarea{height: 100px;font-size: 1.2rem;line-height: 1.5rem;}
.original .wp{padding-right: 0px;padding-left: 0px;}

.nologinbtn{margin-top: 70px;}