/*2018-09-28
 HQS
 
 移动端  问题详情页
 * */


/*问*/
.container{margin-bottom: 50px;}
.container .hunk{background: #fff;padding: 3% 3% 0.5rem 3%;}
.container .hunk .title{vertical-align: middle;display: block;}
.container .hunk .title .view{display: inline-block;float: left;width: 7%;margin-right: 6px;}
.container .hunk .title .view img{display: block;width: 100%;}
.container .hunk .title .name{display: inline-block;line-height: 20px;color: #333; font-size: 1.35rem;font-weight: 600;}
.container .hunk .title .botton{border: 1px #545454 solid;padding: 0px 4px;margin-top: 3px;font-size: 0.6rem;border-radius: 2px;color: #666;}

.container .hunk .headPortrait{overflow: hidden;}
.container .hunk .headPortrait .thumbnail{max-height: 82px;overflow: hidden;margin-top: 0.5rem;border-radius: 3px;}
.container .hunk .headPortrait .thumbnail img{width: 100%;}
.container .hunk .headPortrait .description{color: #666;font-size: 1.225rem;text-align: justify;line-height: 18px;margin: 0.5rem auto 0.2rem;}

.container .hunk .bottom{margin: 0.1rem auto 0rem;}

.transform{font-size: 14px!important;height: 20.8px;line-height: 20.8px;}
.container .hunk .bottom .topButtom{color: #474747;}
.container .hunk .bottom .topButtom span{color: #898989;}
.container .hunk .bottom .topButtom span i{font-style: normal;font-weight: 600;color: #666;}

.container .hunk .bottom .left{float: left;color: #f24f62;font-weight: 600;}
.container .hunk .bottom .left .icon{width: 14px;float: left;margin-top: 3px;}
.container .hunk .bottom .left .seat{float: left;}

.container .hunk .bottom .right{float: right;text-align: right;}
.container .hunk .bottom .right .browseNum,.answerNum{color: #999;}
.container .hunk .bottom .right .assistNum{color: #d71618;}
.container .hunk .bottom .right .name{max-width: 60%;overflow: hidden;}
.question{-webkit-box-shadow: 0px 0px 8px 0px #b2b0b0;
			-moz-box-shadow: 0px 0px 8px 0px #b2b0b0;
			box-shadow: 0px 0px 8px 0px #b2b0b0;}


/*答*/
.answer{background: #fff;padding: 0 3%;}
.answer .bigTitle{vertical-align: middle;display: block;font-size: 12px;line-height: 28px;font-weight: 600;}
.answer .bigTitle i{font-style: normal;}
.answer .bigTitle .right{float: right;}
.answer .bigTitle .right span{color: #666;}
.answer .bigTitle .right .on{color: #d71618;}

.answer .left .name{color: #474747;display: inline-block; float: left;margin-left: 4px;}

.answer .matter .hunk{border-top: 1px #f2eeee solid;}
.answer .hunk{padding: 3% 0% 0.5rem;}
.answer .hunk .tips{margin: 1rem auto;width: 80%;}
.answer .hunk .depict{text-align: center;font-size: 12px;}
.boxes{vertical-align: middle;background: #f24f62;color: #fff;float: left;height: 18px;line-height: 18px;
		border-bottom-right-radius: 9px;border-top-right-radius: 9px;padding-left: 2px;}
.answerLeft{display: block; width: 54%;overflow: hidden;}
.boxes .profilePhoto{width: 18px;float: right;border-radius: 9px;padding-bottom: 18px;}


.container .hunk .substance{min-height: 44px;max-height: 130px;overflow: hidden;position: relative;}
.container .hunk .substance .description{color: #666;font-size: 0.8rem;text-align: justify;line-height: 18px;margin: 0.5rem auto 0.2rem;}
.container .hunk .bottom{margin: 0.3rem auto 0rem;}
.readMore{display: block;width: 100%;position: absolute;bottom: 0;left: 0;text-align: center;height: 38px;}
.readMore .coverage{display: block;background: rgba(255,255,255,0.6);position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.readMore .typeface{display: block;color: #30a2f3;font-size: 12px;width: 100%;line-height: 28px;;position: absolute;bottom: 0;font-weight: 600;}


.answerNav{vertical-align: middle;font-size: 12px;line-height: 20px;padding: 2% 0;background: #fff;width: 100%;
			position: fixed;left: 0;bottom: 0;border-top: 1px #eae8e8 solid;}
.answerNav span{text-align: center;display: block;width: 49%;}
.answerNav .left{float: left;border-right: 1px #eceaea solid;}
.answerNav .right{float: right;}
.answerNav .right a{display: block;width: 100%;height: 100%;}
.answerNav img{display: inline-block;width: 12px;vertical-align: middle;}




/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5    1920x1080  /3★*/
@media only screen and (max-width: 414px) {
	.answer .left .name{max-width: 77%;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.answer .left .name{max-width: 77%;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.answer .left .name{max-width: 77%;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.answer .left .name{max-width: 75%;}
}


/*5.0英寸   384*640尺寸的屏幕  如 魅蓝M1    1280x768*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.answer .left .name{max-width: 74%;}
}
/*3.5英寸   320*480尺寸的屏幕  如iPhone4   960x640*/
@media only screen and (max-width: 320px) {
	.answer .left .name{max-width: 70%;}
}