/*2801-10-12
 *HQS 
 * 
 * 首页  部分样式
 * */

.fix{*zoom:1;}
.fix:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}

.dis_none{display: none!important;}
.Iclass{font-style: normal;}

.figure{padding-bottom: ; /* 关键就在这里 */
	  	background-position: center;
	  	background-repeat: no-repeat;
	  	background-size: cover;
	  	border-radius: 5px;}

.omit{display: -webkit-box!important;-webkit-box-orient: vertical;overflow: hidden;}
.lineNumber2{-webkit-line-clamp: 2;}

.widthHeight{display: inline-block;width: 100%;height: 100%;}

.article{margin: .7rem 0;}
.article .TitleBox{height: 2.5rem;}
.article .TitleBox .title{font-weight: 500;float: left;}

/*达人邦*/
.m_item_a1{width: 100%;}
.m_item_a1 .pic{overflow: hidden;}

/*达人日志*/
.log .d_item{width: 93.7%!important;margin: 0 auto!important;}

.log .d_item .list_img{margin: 13px 0 0 0px;}
.log .d_item .list_img dd{width: 32.33%;margin-right: 1%;margin-bottom: 2%;}
.log .d_item .list_img dd a{border-radius: 0px;}
.log .d_item .user{padding: 0rem 0 0.25rem;float: left;}
.log .d_item .user .headPortrait{display: inline-block;width: 1.65rem;height: 1.65rem;border-radius: 0.825rem;margin-right: 0.325rem;float: left;}
.logTime{color: #999;font-size: 12px;}
.log .d_item .user .txt{text-align: justify;}

.log .d_item .gaine{float: right;display: block;width: auto;line-height: 62px;height: 46.58px;}
.log .d_item .gaine span{display: inline-block;font-size: 12px;padding-left:0;}
.log .d_item .gaine span img{display: inline-block;margin-right: 0.2rem;vertical-align: middle;}
.log .d_item .gaine span .icon_check{width: 1rem;}
.log .d_item .gaine span .icon_like {width: 0.75rem;}
.log .d_item .gaine span .icon_review{width: 0.75rem;}
.log .d_item .gaine span i{display: inline-block;color: #666666;width: auto;position: inherit;
							font-style: normal;background: transparent;top: auto;left: auto;}
		/*点击日志，图片弹窗  发现并没有完全显示*/
.jquery-lightbox-mode-image{height: auto!important;}


/*达人视频*/
.video_ .flex-video .video{padding: 0rem 0.5rem 0.5rem;}
.video_ .video .txt{margin-top: 0.3rem;text-align: justify;}


/*达人游记*/
.note .y_item{padding-bottom: 0;}
.note .y_item h4{margin: 0;}
.note .y_item a .user .headPortrait{display: inline-block;width: 1.65rem;height: 1.65rem;
									border-radius: 0.825rem;margin-right: 0.325rem;float: left;}
.note .y_item a p span{display: block;font-size: 12px!important;text-align: justify;line-height: 18px;}

.note .travels{width: auto;display: block;line-height: 36px;}
.note .travels span{display: inline-block;font-size: 12px;padding-left:0;margin-right: 4px;}
.note .travels span img{display: inline-block;margin-right: 0.1rem;vertical-align: middle;}
.note .travels span .icon_check{width: 1rem;}
.note .travels span .icon_like {width: 0.85rem;}
.note .travels span .icon_review{width: 0.85rem;}
.note .travels span i{display: inline-block;color: #666666;width: auto;
							  font-style: normal;background: transparent;height: auto;}


/*独家旅行*/
.tour .nav_list{display: block;width: 94%;margin:0rem auto 0.6rem;background: #f6f6f6;}
.tour .nav_list li{line-height: 1.4rem;text-align: center;
					display: block;width: 50%;float: left;color: #666;}
.tour .onn{color: #fff!important; background: #ee2f33;}
		/*独家旅行 独家路线*/
.exclusive{display: block;}
.exclusive .boxes{margin-bottom: 0.5rem;border-radius: 2px;}
.exclusive .boxes a img{display: block;}
.exclusive .con{position: relative;border: 1px #858585 solid;padding: 0.5rem;border-radius: 2px;}
.exclusive .con .headline{display: -webkit-box;
						    -webkit-box-orient: vertical;
						    -webkit-line-clamp: 1;
						    overflow: hidden;font-size: .6rem;line-height: 1rem;}
.exclusive .price{display: block;position: absolute;right: 0.5rem;bottom: 0.5rem;}
.exclusive .price i{color: #666;font-size: 0.75px;}
.exclusive .price span{font-weight: 600;font-size: 1.2rem;}

.widtH .SeeMoreLines{display: block;width: 5rem!important;border-radius: 0.6625rem!important;text-align: center;line-height: 1.325rem;}
		/*独家旅行 私人订制*/
.list_box{background: #f8f7f2;padding-bottom: 20px;margin-bottom: 10px;}
.list_box .matter{padding-left: 5px;border-radius: 3px;border: 1px #bcbcbc solid;display: block;line-height: 24px;font-weight: 600;}
.list_box .destination{width: 90%;margin: 0.5rem auto 0.5rem;}
.list_box .name{width: 30%;float: left;margin: 0.2rem 3% 1rem 5%;}
.list_box .PhoneNum{width: 57%;float: left;margin: 0.2rem 0 1rem;}

.list_box .submitInfo{display: block;padding: 6px 26px;color: #fff;background: #545454;
					  border: none;margin: 0 auto;border-radius: 15px;clear: both;}


/*关于我们*/
.asFor .flex-video{width: 100%;}
.asFor .left{width: 50%;padding: 0rem 0.5rem 0.5rem;float: left;}
.asFor .flex-video .diamonds{width: 100%;position: relative;}
.asFor .left .diamonds{padding-bottom: 150%;}

.asFor .right{width: 50%;padding: 0rem 0.5rem 0.5rem 0;float: left;}
.asFor .right .diamonds{padding-bottom: 66%;}
.asFor .right .diamonds:nth-of-type(1){margin-bottom: 8%;}

.asFor .flex-video .diamonds .txt{position: absolute;bottom: 0;color: #fff;text-align: center;
								  width: 100%;height: 20.8px;overflow: hidden;}


/*视频弹窗*/
.m_pop1_yz .con{overflow: inherit;}
.m_pop1_yz .con .close{top: -44px;}
.m_pop1_yz .con .close span{background: #221414 url(/resource/m/images/icon-close2.png) no-repeat center center / 68%;}

/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5    1920x1080  /3★*/
@media only screen and (max-width: 414px) {
	.m_item_a1 .pic{height: 245.625px;}
	.interact .Read i,.other .interact span i,.interact .theory i{background-position-x: 2px;}
	.note .y_item a .user .headPortrait{margin-top: 0.1rem;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.m_item_a1 .pic{height: 243.75px;}
	.interact .Read i,.other .interact span i,.interact .theory i{background-position-x: 2px;}
	.note .y_item a .user .headPortrait{margin-top: 0.13rem;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.m_item_a1 .pic{height: 243.125px;}
	.other .user span{padding-top:0;}
	.interact .Read i,.other .interact span i,.interact .theory i{background-position-x: 2px;}
	.note .y_item a .user .headPortrait{margin-top: 0.15rem;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.m_item_a1 .pic{height: 221.25px;}
	.interact .Read i,.other .interact span i,.interact .theory i{background-position-x: 0px;}
	.interact .Read i{background-position-y: -29px;}
	.interact .spot i{background-position-y: -62px;}
	.interact .theory i{background-position-y: -98px;}
	.note .y_item a .user .headPortrait{margin-top: 0.1rem;}
}
/*4.95英寸  360*640尺寸的屏幕  如 谷歌Nexus 5    1920x1080 /3★ */
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.m_item_a1 .pic{height: 211.88px;}
	.interact .Read i,.other .interact span i,.interact .theory i{background-position-x: 0px;}
	
	.interact .Read i{background-position-y: -30px;}
	.interact .spot i{background-position-y: -63px;}
	.interact .theory i{background-position-y: -99px;}
	.note .y_item a .user .headPortrait{margin-top: 0.15rem;}
}
/*4.0英寸   320*568尺寸的屏幕  如iPhone5、iPhone SE   1136x640*/
@media only screen and (max-width: 320px) {
	.m_item_a1 .pic{height: 188.125px;}
	.interact .Read i,.other .interact span i,.interact .theory i{background-position-x: 0px;}
	.interact .Read i{background-position-y: -31px;}
	.interact .spot i{background-position-y: -64px;}
	.interact .theory i{background-position-y: -100px;}
	.article .title span i{background-position-y: 17.5px;}
	.log .d_item .user .headPortrait{margin-top: 0.15rem;}
	.note .y_item a .user .headPortrait{margin-top: 0.25rem;}
}