/*2018-09-06
 HQS
 
 移动端  个人中心-我的日志、我的视频、我的游记、我的问答
 		  -TA的日志、TA的视频、TA的游记、TA的问答
		  -我收藏的日志、我收藏的视频、我收藏的游记、我收藏的问答
公共 样式
 * */



.write {position: absolute;bottom: 0px;right: 10px;z-index: 9999;}
.write a{display:inline-block;background-repeat:no-repeat;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}

.ban{border-radius: 0;position: relative;background: transparent;}

.bg_blur{-webkit-filter: blur(3px) contrast(.8) brightness(.8);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px) contrast(.8) brightness(.8);}

.ban .message{margin: 24px auto 10px;width: 94%;position: relative;}
.ban .message .gaine{border-radius: 50%;float: left;margin-right: 13px;}


.ban .message .rightBox{float: left;}
.ban .message p{color: #fff;}
.ban .message .wx_name{font-size: 1.2rem;font-weight: 600;}
		/*定位*/
.ban .message .location{line-height: 14px;vertical-align: middle;margin-bottom: 14px;float: left;}
.ban .message .location img{display: inline-block;width: 1.2rem;margin-right:0.2rem;vertical-align: middle;}
.ban .message .location i{font-size: 1.2rem;line-height: 14px;font-style: normal;}

		/*简介*/
.ban .message .intro{margin-bottom: 10px;}
.ban .message .intro .autograph{font-size: 1.2rem;text-align: justify;line-height: 18px!important;}

.ban .message .statistics .left{float: left;}
.ban .message .statistics .left .boxes:nth-of-type(1){border-right: 1px rgba(242, 242, 245, 0.6) solid;}
.ban .message .statistics .left .boxes{float: left;color: #fff; text-align: center;padding: 0 0.3rem;}
.ban .message .statistics .left .boxes b{display: block;font-size: 0.8rem;}

.ban .message .statistics .right{float: right;padding-top: 8px;}
.ban .message .statistics .right button{color: #fff;font-size: 0.8rem;border-radius: 3px;}
.ban .message .statistics .right .private{ background: transparent;border: 1px #fff solid;padding: 3px 10px;margin-right: 6px;}
.ban .message .statistics .right .attention{padding: 3px 6px;background: #f33b3b;border: 1px #f33b3b solid;}

.row-TV{border-top: 1px #d2d2d2 solid;}

.m-nv-yz{border-bottom: none;}
.m-nv-yz .on a, .m-nv-yz a:hover{color: #fe5657;font-weight: 600;}
.m-nv-yz .on:before{background: none;}
.m-nv-yz li a,.m-nv-yz li a i{font-size: 16px;}

.ul-imgtxt2-yz dd:nth-last-of-type(1){padding-bottom: 2px;}

.ul-imgtxt2-yz li{padding: 0px;}
.ul-imgtxt2-yz dl{margin-top: 0;margin-bottom: -5px;}

.ul-imgtxt2-yz .pic{padding-top: 0px;overflow: hidden;}


.m-myday-yz{border: none;padding-bottom: 0px;}
.m-myday-yz .top{margin-bottom: 0px;}
.m-mytv-yz{border: none;padding: 0px;background: none;}
.m-mytv-yz .item{background: #fff;border-bottom:none;margin-bottom: 0.8rem;position: relative;padding-bottom: 2px;}
.m-mytv-yz .item .videoTitle{color: #ef1517;font-size: 16px;font-weight: 600;width:90%;display: -webkit-box;
								-webkit-line-clamp: 2;/*两列*/
								-webkit-box-orient: vertical;
								 overflow: hidden;}
.m-mytv-yz .item .date{font-size: 0.6rem;margin-bottom:0;}
.m-mytv-yz .item .videoDetails{font-size: 1.2rem;color: #333;text-align: justify;margin-bottom: 0.7rem;}
.ul-imgtxt2-yz dd a{padding-bottom: 67%;}
.m-mytv-yz .item .preview{min-height: 10rem;position: relative;}
.m-mytv-yz .item .preview .vessel{display: block;width: 100%;padding-bottom: 60%;}

.m-mytv-yz .item .videoBottom{margin: 0.5rem auto;}
.m-mytv-yz .item .videoBottom img{display: inline-block;margin-right: 0.2rem;vertical-align: middle;}

.m-mytv-yz .item .videoBottom .icon_check{width: 1rem;}
.m-mytv-yz .item .videoBottom .icon_like {width: 0.85rem;}
.m-mytv-yz .item .videoBottom .icon_review{width: 0.85rem;}

.m-mytv-yz .item .videoBottom span{color: #666;}
.m-mytv-yz .item .videoBottom .left{display: block;float: left;height: 20.8px;line-height: 20.8px;}
.m-mytv-yz .item .videoBottom .left img{width: 10px;}
.m-mytv-yz .item .videoBottom .left h4{color: #f24f62;display: inline-block;font-size: 1.2rem;}
.m-mytv-yz .item .videoBottom .tag{ padding: 1px 4px;border: 1px #545454 solid;border-radius: 3px;max-width: 80px;overflow: hidden;
									line-height: 14px;margin-left: 5px;font-size: 0.9rem;height: auto;}
.m-mytv-yz .item .videoBottom .right{float: right;line-height: 20.8px;}
.m-mytv-yz .item .videoBottom .right span{display: inline-block;line-height: 20.8px;}
.m-mytv-yz .item .videoBottom .right span i{line-height: 20.8px;display: inline-block;}

/*我的游记、TA的游记*/
.notes .tag{margin-top: 2px;}

/*我的问答、TA的问答、我收藏的问答*/
.issue .videoTitle{color: #333!important;}
.issue .videoTitle .view{display: inline-block;width: 16px;margin-right: 6px;}
.issue .videoTitle .view img{width: 100%;}
.issue .videoDetails{color: #666!important;}
/*我的问答、TA的问答*/
.issue .left{margin-top: 7px;}
.issue .left img{width: 17px!important;}
.issue .tag{margin-top: 9px;}
.issue .divRight{float: right;}
.issue .divRight span{display: block;text-align: right;}


.IMGbox{position: absolute;top: 0.9rem;right: 0.8rem;z-index: 2;}
.IMGbox .pullDownButton{display: block;width: 3.5rem;;height: 3.5rem;; float: right;
						background: url(/resource/m/images/common/icon_pullDown.png) no-repeat center center / 50%;}
.IMGbox .menuOption{background: #fff;border: 1px #ccc solid;border-radius: 2px;margin-top: 3.1rem;z-index: 2;position: relative;}
.IMGbox .menuOption a{display: block;}
.IMGbox .menuOption span{display: block;text-align: center;padding: 2px 0;font-size: 0.8rem;}
.IMGbox .menuOption .collect{color: #d71618;background: #f2f2f5;}





.bg3{margin-top: 20px;padding:0px 0px 20px;text-align: center;}
.bg3 .text{font-size: 0.76rem;}

.shoot{display:block;width:107px;height:22px;line-height:22px;text-align:center;
		color:#fff;font-size:12px;border-radius:15px;margin: 10px auto;background-color:#f24949;}

.default_bg{display: block;width: 68%;margin: 1rem auto 0;}

.tips{text-align: center;color: #ccc;}
.loading{margin: 0 auto;display: block;width: 5%;}


/*别人的日志、视频、游记  关注按钮  共用样式*/
.attentionBtn{width: 100%;position: absolute;bottom: 2px;}
.attentionBtn .guanzhu{line-height: 28px;height: 28px;font-size: 0.8rem;border: none;text-align: center;color: #fff;
						-webkit-box-shadow: 0px 0px 1px 1px #b2b0b0;padding: 0px 15px;background: #F33B3B;
						-moz-box-shadow: 0px 0px 1px 1px #b2b0b0;display: block;margin: 10px auto 0px;
						box-shadow: 0px 0px 1px 1px #b2b0b0;border-radius: 15px;}
.attentionBtn .guanzhu  b{font-size: 1rem;display: inline-block;}


/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5    1920x1080  /3★*/
@media only screen and (max-width: 414px) {
	.ban .message .gaine{width: 49.63px;padding-bottom: 49.63px;margin-top: 0px;margin-bottom: 10px;}
	.minHeight{min-height: 400px;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.ban .message .gaine{width: 49.34px;padding-bottom: 49.34px;margin-top: -6px;}
	.minHeight{min-height: 394px;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.ban .message .gaine{width: 49.24px;padding-bottom: 49.24px;margin-top: -7px;}
	.minHeight{min-height: 392px;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.ban .message .gaine{width: 45px;padding-bottom: 45px;margin-top: -4px;}
	.minHeight{min-height: 332px;}
}

/*适配iPhoneX 样式写法  5.8英寸 2436*1125 */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
	.minHeight{min-height: 472px;}
}

/*5.0英寸   384*640尺寸的屏幕  如 魅蓝M1    1280x768*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.ban .message .gaine{width: 43px;padding-bottom: 43px;margin-top: -2px;}
	.minHeight{min-height: 284px;}
}
/*3.5英寸   320*480尺寸的屏幕  如iPhone4   960x640*/
@media only screen and (max-width: 320px) {
	.ban .message .gaine{width: 38px;padding-bottom: 38px;margin-top: 1px;}
	.minHeight{min-height: 200px;}
}