/*2018-10-11
 * HQS
 * 
 * 日阅潭、游记
 * */

.qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
.qqFace table td { padding: 0px;line-height: 28px;}
.qqFace table td img { cursor: pointer; border: 1px #fff solid; }
.qqFace table td img:hover{ border: 1px #0066cc solid; }



.ul-imgtxt4 .tit h3{color: #75949f;}


.substance{margin-left: 40px;margin-top: 14px;}
.substance .txtt{font-size: 12px;color: #666;line-height: 1.75em;}
.substance .txtt span{display: block;color: #a8a8a8;font-size: 12px;}


.substance .reply{margin-left: 40px;font-size: 12px;color: #a8a8a8;height: 1.75em;line-height: 1.75em;margin-top: 10px;}
.reply1{margin-right: -24px;}
.substance .reply span{float: right;margin-right: 10px;}

.marginTop{margin-top: 0!important;}

.substance .details_stair{height: 0;}
.details_stair{margin-top: 10px;}
.details_stair .wp{padding-left: 0px;}
.details_stair .wp .content{margin-bottom: 5px;}
.details_stair .wp .content textarea{height: 78px;}
.details_stair .wp #facebox{height: 78px;overflow-y: scroll;}
.details_stair .wp .btn{background-color: #79ceff;}
.details_stair .wp .nologinbtn{margin-top: 50px;}

.substance .details_{height: 0;}
.details_{margin-top: 10px;}
.details_ .wp{padding-left: 0px;}
.details_ .wp .content{margin-bottom: 5px;}
.details_ .wp .content textarea{height: 78px;}
.details_ .wp #facebox{height: 78px;overflow-y: scroll;}
.details_ .wp .btn{background-color: #79ceff;}
.details_ .wp .nologinbtn{margin-top: 50px;}

.blockquote_wrap{margin-bottom:10px; padding-top:8px;}
.blockquote_wrap .comment_blockquote{background-color:#f8f8f8;width: 96%; border:1px solid #dcdcdc; margin-top:-1px; padding:15px 19px 2px 8px;}


.blockquote_wrap .comment_floor{color:#999; float:right; margin:-14px -12px 0 0;}
.blockquote_wrap .comment_con{overflow:hidden;width:100%;}
.blockquote_wrap .detail .content a,.blockquote_wrap .comment_listBox a{color:#369; font-size:13px;}
.blockquote_wrap .comment_con p{display:inline; word-break:break-all; word-wrap:break-word;}

.blockquote_wrap .comment_action_sub{visibility:hidden; float:right; text-align:right;}
.blockquote_wrap .comment_action a,.blockquote_wrap .comment_action_sub a{color:#999; font-size:12px; padding-left:12px; text-decoration:none;}

.btnComment_Review,.btnComment_{float: right;}

.openReply{ animation: openReply 1s 1;}
@keyframes openReply{ 0%{ opacity: 0;height: 0px;} 100%{ opacity: 1;height: 168px;} }

.closeReply{ animation: closeReply 1s 1;}
@keyframes closeReply{ 0%{ opacity: 1;height: 168px;} 100%{ opacity: 0;height: 0px;} }











